---
- name: Prepares a Terraform-Ansible controller
  hosts: "{{ target_hosts }}"
  become: true
  remote_user: ubuntu
  become_user: root
  tasks:
    - name: Add HashiCorp Apt signing key
      ansible.builtin.apt_key:
        url: https://apt.releases.hashicorp.com/gpg
        state: present

    - name: Add HashiCorp repository into sources list
      ansible.builtin.apt_repository:
        repo: deb [arch=amd64] https://apt.releases.hashicorp.com focal main
        state: present
        update_cache: yes

    - name: Install packages
      apt:
        pkg:
        - unzip
        - terraform
        - python3-pip

    - name: Install Ansible
      pip:
        name:
        - ansible
        - boto3
      
