---
- name: Prepares a Vault controller
  hosts: "{{ target_hosts }}"
  become: true
  remote_user: ubuntu
  become_user: root
  tasks:
    - name: Unarchive vault
      ansible.builtin.unarchive:
        src: https://releases.hashicorp.com/vault/1.6.2/vault_1.6.2_linux_amd64.zip
        dest: /usr/local/bin/
        remote_src: yes
      register: vault
